* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

main {
	width: 960px;
	margin: 50px auto;
}

.box {
	width: 300px;
	padding: 10px;
	float: left;
	border: 1px solid gray;
	position: relative;
}

.box:nth-child(1) {
	margin-right: 30px;
}

.box:nth-child(2) {
	margin-right: 30px;
}

.step {
	background-color: orange;
	color: white;
	position: absolute;
	top: 0;
	left: 0;
}

.img {
	width: 280px;
}

.title {
	margin: 5px;
}

@media screen and (max-width:768px) {
	main {
		width: 100%;
	}

	.box {
		width: 100%;
		float: none;
	}

	.box:nth-child(1) {
		margin-bottom: 30px;
	}

	.box:nth-child(2) {
		margin-bottom: 30px;
	}

	.img {
		width: 100%;
	}

	.title {
		width: 100%
	}

	.textbox {
		width: 100%;
	}

	.text {
		width: 100%;
	}
}
